@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: system-ui, sans-serif;
  font-size: 75%;
}

@layer base {
  :root {
    --color-primary: rgb(74, 144, 241);
    --color-secondary: rgb(40, 109, 160);
    --color-sidebar: #fff;
    --color-sidebar-element-hover-background: #0ea5e9;
    --color-sidebar-element-hover-text: #fff;
    --color-sidebar-text: #1c1917;
    --color-sidebar-active-element-background: rgb(74, 144, 241);
    --color-sidebar-active-element-text: #fff;
    --color-sidebar-feature: #fff;
  }

  .bg-sidebar {
    background-color: var(--color-sidebar);
  }

  .sidebar-feature {
    background-color: var(--color-sidebar-feature);
    color: var(--color-sidebar-text);
  }

  .sidebar-element {
    color: var(--color-sidebar-text);
  }

  .sidebar-element:hover,
  .sidebar-active-element:hover {
    background-color: var(--color-sidebar-element-hover-background);
    color: var(--color-sidebar-element-hover-text);
  }

  .sidebar-active-element {
    background-color: var(--color-sidebar-active-element-background);
    color: var(--color-sidebar-active-element-text);
  }

  .text-sidebar {
    color: var(--color-sidebar-text);
  }

  .bg-primary {
    background-color: var(--color-primary);
  }
}
