@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: system-ui, sans-serif;
}

@layer base {
  :root {
    --color-background: #fff;
    --color-background-light: #fff;
    --color-background-dark: #10172a;

    --color-text-light: #000;
    --color-text-dark: #fff;

    --color-accent-blue-900: #0f4880;
    --color-accent-blue-700: #1053a3;
    --color-accent-blue-500: #1d79c0;
    --color-accent-blue-300: #45acc0;
    --color-accent-blue-100: #c9e2ff;
    --color-accent-blue-50: #f1f8fc;

    --color-primary: var(--color-accent-blue-500);
    --color-secondary: var(--color-accent-blue-700);
    --color-sidebar: #fff;
    --color-sidebar-element-hover-background: var(--color-accent-blue-700);
    --color-sidebar-element-hover-text: #fff;
    --color-sidebar-text: #1c1917;
    --color-sidebar-active-element-background: var(--color-primary);
    --color-sidebar-active-element-text: #fff;
    --color-sidebar-feature: #fff;
  }

  .theme-background {
    background-color: var(--color-background-light);
    color: var(--color-text-light);
  }

  .dark {
    --color-background: var(--color-background-dark);
    background-color: var(--color-background-dark);
  }

  .dark .theme-background {
    background-color: var(--color-background-dark);
    color: var(--color-text-dark);
  }

  .bg-sidebar {
    @apply theme-background;
    background-color: var(--color-sidebar);
  }

  .sidebar-feature {
    @apply theme-background;
    color: var(--color-sidebar-text);
  }

  .dark .sidebar-feature {
    color: var(--color-text-dark);
  }

  .sidebar-element {
    color: var(--color-sidebar-text);
  }

  .dark .sidebar-element {
    color: var(--color-text-dark);
  }

  .sidebar-element:hover,
  .sidebar-active-element:hover {
    background-color: var(--color-sidebar-element-hover-background);
    color: var(--color-sidebar-element-hover-text);
  }

  .sidebar-active-element {
    background-color: var(--color-sidebar-active-element-background);
    color: var(--color-sidebar-active-element-text);
  }

  .text-sidebar {
    color: var(--color-sidebar-text);
  }

  .bg-primary {
    background-color: var(--color-primary);
  }

  [data-color-mode*='dark'] .wmde-markdown,
  [data-color-mode*='dark'] .wmde-markdown-var,
  .wmde-markdown[data-color-mode*='dark'],
  body[data-color-mode*='dark'] {
    background-color: var(--color-background-dark);
  }
}
